*{
    margin: 0;
    padding: 0;
}
.registering{
    height: 50px;
}

.registering ul{
    position: relative;
    margin-top: 10px;
    display: flex;
    list-style: none;
    justify-content: right;
    right:120px;

}

.registering ul li{
    margin: 15px;
    font-size: 15px;

    
}
a{
    text-decoration: none;
    color:black;
}

#airplane{
    position: absolute;
    top: 10px;
    left: 6%;
    font-size: 40px;
}

hr{
    border:none;
    height: 20px;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
}

.package{
    position: relative;
    margin-top: 50px;
    text-align: center;
    color:rgb(103, 58, 11);
    font-family: 'Poppins', sans-serif;
}

.fav-place{
    position: relative;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.francis{
    position: absolute;
   margin-top: 20px;
   left: 260px;
   width: 240px;
   height: 240px;
   transition: transform .2s;
}
.francis:hover{
    transform: scale(1.3);
}

.oliva{
    position: absolute;
   margin-top: 20px;
   left: 780px;
   width: 240px;
   height: 240px;
   transition: transform .2s;
}
.oliva:hover{
    transform: scale(1.3);
}

.francesso{
    position: absolute;
   margin-top: 20px;
   left: 520px;
   width: 240px;
   height: 240px;
   transition: transform .2s;
}

.francesso:hover{
    transform: scale(1.3);
}

.icons{
    position: relative;
    margin-top: 270px;
    color: rgb(214, 150, 12);
}


#star1{
    position: relative;
    left:300px;
    
}
#star2{
    position: relative;
    left:550px;
}
#star3{
    position: relative;
    left:800px;
}

.stars{
    position:fixed;
    top:447px;
    color:orange
}

.firststar{
    position: fixed;
    left: 320px;
}

.secondstar{
    position: fixed;
    left: 592px;
}

.thirdstar{
    position: fixed;
    left: 864px;
}

.names{
    position: fixed;
    top:475px;

}
.city{
    position: fixed;
    left: 275px;
}

.cappadocia{
    position: fixed;
    left: 555px;
}

.city2{
    position: fixed;
    left: 800px;
    
}

.money{
    position:fixed;
    top:500px;
    color:green
    
}

.citymoney{
    position: fixed;
    left: 275px;
}

.cappadociamoney{
    position: fixed;
    left: 558px;
}

.city2money{
    position: fixed;
    left: 800px;
}

.icons2{
    position: relative;
    margin-top: 70px;
    color: rgb(92, 89, 82);
    font-size: 12px;
}


#clock1{
    position: relative;
    left:280px;
    
}
#clock2{
    position: relative;
    left:490px;
}
#clock3{
    position: relative;
    left:700px;
}

.icons3{
    position: fixed;
    top: 529px;
}

#loc1{
    position: fixed;
    left:390px;
}

#loc2{
    position: fixed;
    left:660px;
}

#loc3{
    position: fixed;
    left:910px;
}
